@font-face {
  font-family: "CustomFont";
  src: url("/fonts/DotGothic16-Regular.ttf") format("truetype");
}

body {
  font-family: "CustomFont", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  color: #333;
}

a {
  transition: opacity 0.3s;
  text-decoration: none;
  color: #1ca9e3;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 20px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #a3bb95;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  /* フッター */
  .footer {
    padding: 20px 0;
  }
}
