@font-face {
  font-family: "CustomFont";
  src: url("/fonts/DotGothic16-Regular.ttf") format("truetype");
}

body {
  font-family: "CustomFont", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.8px;
  color: #333;
}

a {
  transition: opacity 0.3s;
  text-decoration: none;
  color: #1ca9e3;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 20px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #a3bb95;
}

/*--------------------------------
 スクロールボタン
---------------------------------*/
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 50px;
}

.arrows path {
  stroke: #00ff00;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  /* フッター */
  .footer {
    padding: 20px 0;
  }
}
